.banner-bounce-0s {
  animation-delay: 0s !important;
  animation-duration: 3s !important;
}
.banner-bounce-1s {
  animation-delay: 1s !important;
  animation-duration: 3s !important;
}
.banner-bounce-2s {
  animation-delay: 2s !important;
  animation-duration: 3s !important;
}
.bounce-05s {
  animation-delay: 0.5s !important;
}
